### 2020년 3월 24일
# 열거형
## 종류
- 리스트 (list)
- 튜플 (tuple)
- 사전 (dict)
- 집합 (set)

## 튜플 (tuple)
- 튜플은 값을 수정할 수 없다
- 파이썬의 기본 열거형이다

In [5]:
1,2,3,4,5

(1, 2, 3, 4, 5)

In [7]:
a = 1,2,3,4,5
a

(1, 2, 3, 4, 5)

In [10]:
a[0], a[-1]

(1, 5)

In [11]:
a = ()
a

()

In [12]:
a += (1,2,3)
a

(1, 2, 3)

In [13]:
type(a)

tuple

In [14]:
tuple([1,2,3,100])

(1, 2, 3, 100)

In [15]:
list((1,2,3,-999))

[1, 2, 3, -999]

In [20]:
t = (1,) ### 꼭 기억할 것!
t

(1,)

In [19]:
type(t)

tuple

In [21]:
a,b,c = (1,2,999)

In [24]:
(a,b,c) = (1,2,999)

999

In [25]:
a, b = [9,11]
a

9

In [26]:
b

11

In [27]:
b, a = a, b

In [28]:
a, b

(11, 9)

In [29]:
mat = [[1,2,3], [4,5,6], [7,8,9]]
a,b,c = mat

In [30]:
a

[1, 2, 3]

In [31]:
(a,b,c), d, e = mat

In [32]:
a,b,c

(1, 2, 3)

In [35]:
for a,b,c in mat:
    print(a,'->',b,c)

1 -> 2 3
4 -> 5 6
7 -> 8 9

## 딕셔너리 (또는 사전, dict)
- 키와 값의 쌍으로 되어 있다

In [36]:
student = {'name': 'hong', 'age': 22}
student

{'age': 22, 'name': 'hong'}

In [37]:
student['name']

'hong'

In [38]:
student['age']

22

In [39]:
d = {1:2, 2:'hong', 'hong':3, 'jang':'seoul'}
d

{1: 2, 2: 'hong', 'hong': 3, 'jang': 'seoul'}

In [40]:
d2 = {1: [1,2,3], 2:(11,12,13)}
d2[1]

[1, 2, 3]

In [41]:
d = {1: 11, 2: 22, 3: 33}

for i in d:
    print(i)

1
2
3

In [43]:
d = {'a':1, 2:'b', 'c':[1,2,3,4,5]}
for i in d:
    print(i, '=>', d[i])

a => 1
2 => b
c => [1, 2, 3, 4, 5]

In [44]:
# DBMS 의 테이블 구조와 유사하다
rec1 = {'이름':'홍길동', '나이': 22, '지역': '서울'}

In [46]:
rec1['이름']

'홍길동'

In [47]:
type(d)

dict

In [48]:
dict([1,2,3])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [49]:
dict([[1,2], [3,4]])

{1: 2, 3: 4}

In [51]:
list(d) # 키만 가져온다

['a', 2, 'c']

In [52]:
d

{2: 'b', 'a': 1, 'c': [1, 2, 3, 4, 5]}

In [53]:
d.keys()

dict_keys(['a', 2, 'c'])

In [54]:
d.values()

dict_values([1, 'b', [1, 2, 3, 4, 5]])

In [55]:
d.items()

dict_items([('a', 1), (2, 'b'), ('c', [1, 2, 3, 4, 5])])

In [57]:
list(d.items())

[('a', 1), (2, 'b'), ('c', [1, 2, 3, 4, 5])]

In [59]:
for i in d:
    print(i, '=>', d[i])

a => 1
2 => b
c => [1, 2, 3, 4, 5]

In [58]:
for key, value in d.items():
    print(key, '=>', value)

a => 1
2 => b
c => [1, 2, 3, 4, 5]

In [61]:
d = {5: 'a', 1: 'b', 2: 'c'}
l = sorted(d)
for i in l:
    print(i, '=>', d[i])

1 => b
2 => c
5 => a

In [62]:
sorted(d, key=lambda x: d[x])

[5, 1, 2]

In [63]:
d = {1:11, 2:22, 4:44}
d[3]

KeyError: 3

In [64]:
3 in d

False

In [65]:
3 in [1,2,4,5]

False

In [67]:
3 in d.values()

False

### 집합 (set)

In [68]:
s = {1, 2, 3}
s

{1, 2, 3}

In [69]:
type(s)

set

In [70]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [71]:
s = {1,2,2,3,3,3,4}
s

{1, 2, 3, 4}

In [72]:
set([1,2,2,3,3,3,4,4,4,4])

{1, 2, 3, 4}

In [73]:
list(set([1,2,2,3,3,3,4,4,4,4]))

[1, 2, 3, 4]

In [75]:
{1,2,3} | {3,4,5}

{1, 2, 3, 4, 5}

In [76]:
{1,2,3} & {3,4,5}

{3}

In [77]:
{1,2,3} - {3,4,5}

{1, 2}

In [78]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
set(range(10)) - {1,2,3,5,9}

{0, 4, 6, 7, 8}